<div>
  <link href="./client.css" rel="stylesheet" />
  <div class="client-client">
    <span class="client-text">
      <span>Painting services in Okangan region</span>
    </span>
    <div class="client-author">
      <img
        alt="image"
        src="public/painting-modified-200h.png"
        class="client-avatar"
      />
      <div class="client-details">
        <span class="client-text1"><span>On top painting</span></span>
        <span class="client-text2"><span>@ontoppainting</span></span>
      </div>
    </div>
  </div>
</div>
